<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="base" :: navlinks></div>
<div class="container">
    <div class="jumbotron">

        <form action="#"
              th:action="@{/process}"
              th:object="${profile}"
              method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>

            <h4>Add profile</h4>

            <label for="firstName">First Name :</label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"/>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span></br >

            <label for="lastName">Last Name :</label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span></br >

            <label for="email">Email :</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></br >

            <label for="description">Description : </label>
            <input type="text" th:field="*{description}" id="description"
                   placeholder="Hobbies or write something about you.."/>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span></br >

            <input type="file" name="file"><br/>

            <br/>
            <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
</div>

</body>
</html>